In [2]:
#drawing a Shape

print("     /")
print("    /")
print("   /")
print("  /")

     /
    /
   /
  /

In [14]:
#variables

#Declaring the variables

character_name =  "John"
character_age = "50"

print("There was a man name " + character_name + ",")
print("he was " + character_age + " years old")

There was a man name John,
he was 50 years old

In [12]:
a = 5
b = 19
c = a * b

print(c)

95

In [20]:
#Math

from math import *

my_num = 5

#how to print the int values
#always convert int into string

print(str(my_num) + " is my favourite number")

print( 2 * 3 )       # Basic Arithmetic: +, -, /, *
print( 2**3 )        # Basic Arithmetic: +, -, /, *
print( 10 % 3 )      # Modulus Op. : returns remainder of 10/3
print( 1 + 2 * 3 )   # order of operations
print(10 / 3.0)      # int's and doubles

# Use math functions

#max
print(max(5, 89))

#Min
print(min(4,5,-9))

#sqrt
print(sqrt(89))

#pow
print(pow(4,9))

5 is my favourite number
6
8
1
7
3.3333333333333335
89
-9
9.433981132056603
262144.0

In [22]:
#Getting user input

name = input("Enter your name : ")
print("Hello " + name + " ! ")

Enter your name : francis
Hello francis !

In [29]:
#basic calculator using input funtion

number_1 = input("Enter the number 1 : ")
number_2 = input("Enter the number 2 : ")

result =  float(number_1) + float(number_2)
print("Hurray ! the result is : " + str(result))

Enter the number 1 : 789
Enter the number 2 : 658
Hurray ! the result is : 1447.0

In [30]:
#Lists

name = ["a","b","c","d","e"]

#using index to get the values
name[1:4]

['b', 'c', 'd']

In [31]:
name[-1]

'e'

In [32]:
name[:4]

['a', 'b', 'c', 'd']

In [35]:
#List functions

name = ["franc","niv","angel"]
numbers = [1,2,3]

#using extend
name.extend(numbers)
print(name)

['franc', 'niv', 'angel', 1, 2, 3]

In [38]:
#using append

name.append("ady")
print(name)

['franc', 'niv', 'angel', 1, 2, 3, 'adyln', 'adyln', 'ady']

In [41]:
#using remove

name.remove("ady")

In [42]:
print(name)

['franc', 'niv', 'angel', 1, 2, 3, 'adyln', 'adyln']

In [43]:
#using insert

name.insert(1,"rio")

In [44]:
print(name)

['franc', 'rio', 'niv', 'angel', 1, 2, 3, 'adyln', 'adyln']

In [45]:
numbers.sort()

In [46]:
name.reverse()

In [47]:
print(name)

['adyln', 'adyln', 3, 2, 1, 'angel', 'niv', 'rio', 'franc']